
/* #d7191c #fdae61 #ffffbf #abd9e9 #2c7bb6 */
html, body, #container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 95%;
    position: absolute;
    top: 33px;
    left: 0;
    width: 100%;
}

.housing svg {
    position: absolute;
    width: 150px;
    height: 30px;
    /*padding-right: 100px;*/
    font: 10px sans-serif;
}

.housing circle {
    fill: #d7191c;
    fill-opacity: .5;
    stroke: black;
    stroke-width: 1.5px;
}

.city-sites svg {
    position: absolute;
    width: 100px;
    height: 30px;
    padding-right: 100px;
    font: 10px sans-serif;
}

.city-sites circle {
    fill: #2c7bb6;
    fill-opacity: .5;
    stroke: black;
    stroke-width: 1.5px;
}

/*Just to ensure the select2 box is "glued" to the top*/
.search {
    width: 100%;
    height: 33px;
    padding: 0;
    z-index: 120000;
}

#details {
    width: 400px;
    height: 10%;
    z-index: 100000;
    position: relative;
}

#legend {
    height: 60px;
    width: 170px;
    position: relative;
    float: right;
}

#addLocationButton {
    height: 60px;
    position: relative;
}

.potential-location circle {
    fill: #fdae61;
    fill-opacity: .5;
    stroke: black;
    stroke-width: 1.5px;
}

.tooltip, .info {
  position: absolute;
  line-height: .7;
  font-weight: bold;
  padding: 8px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-weight: bold;
  font: 11.5px sans-serif;
  border-radius: 2px;
  pointer-events: none;
}